<div class="bg-black w-full h-auto min-h-screen flex justify-center items-center">
	<a class="p-4 absolute top-0 left-0 z-10"
	   routerLink="/">
		<div>
			<img class="md:scale-90"
				 src="/assets/images/logo.png">
		</div>
	</a>

	<ul class="text-white text-lg text-center absolute transition-all left-[50%] -translate-x-2/4"
		[ngClass]="navigationPosition === EPosition.TOP ? 'py-6 w-full justify-center flex right-0 md:right-auto top-[0%]' : 'top-[50%]  -translate-y-2/4'">
		<a *ngFor="let menuElem of menu"
		   [ngClass]="{'mx-4': navigationPosition === EPosition.TOP}"
		   [routerLink]="'/' + menuElem">
			<li class="cursor-pointer mb-6 transition-all hover:tracking-wide">{{ menuElem }}</li>
		</a>
	</ul>
	<div class="w-full">
		<router-outlet></router-outlet>
	</div>
	<ul class="absolute left-0 bottom-0 m-0 p-4">
		<a class="mb-4 block transition-all hover:scale-125"
		   *ngFor="let social of socials"
		   [href]="social.link">
			<li>
				<img class="max-w-10 md:max-w-14"
					 [src]="'assets/icons/' + social.name + '.svg'" />
			</li>
		</a>
	</ul>
</div>